footer#glb_footer {
  .glb_footer_inner {
    width: 895px;
    margin: 0 auto;
    .footer_list {
      width: 20%;
      float: left;
      h2.title {
        ul {
          li {
            a {

            }
          }
        }
      }
    }
  }
}
