<nav id="glb_header">
  <div id="glb_header_bar">
    <div id="container">
      <div id="hdr_search">
        <div id="search_form">検索する</div>
      </div>
      <h1 class="logo">
        <%= link_to "COOCING", root_path %>
      </h1>
      <div class="no_login">
        <p class="login">
          <%= link_to "ログイン", new_user_session_path %>
        </p>
        <p class="regist">
          <%= link_to "新規登録", new_user_registration_path %>
        </p>
      </div>    
    </div>
  </div>
</nav>
